# Data structures

### This chapter is all about...
![](images/standard_ds.jpg)

### Some string operations first!
format, strip, split, replace, count...

In [1]:
a = 10
print(id(a))
a = 20
print(id(a))

4494460256
4494460576

## 1. Lists

A list is a data structure that holds an ordered collection of items i.e. you can store a sequence of items in a list.


The list of items should be enclosed in square brackets so that Python understands that you are specifying a list. Once you have created a list, you can add, remove or search for items in the list. Since we can add and remove items, we say that a list is a mutable data type i.e. this type can be altered.

### Creating lists

In [2]:
a = [1, 2, 3, 4]

In [3]:
print(a)

[1, 2, 3, 4]

### Basic operations
![](images/list_oper.png)

In [4]:
len(a)

4

In [6]:
a = [1, 2, 3, 4] + [5, 6, 7, 8]

In [7]:
print(a)

[1, 2, 3, 4, 5, 6, 7, 8]

In [9]:
a = [1, 2, 3, 4]*4

In [10]:
print(a)

[1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4]

In [14]:
5 in a

False

In [16]:
for i in a:
    print(i)

1
2
3
4
1
2
3
4
1
2
3
4
1
2
3
4

In [18]:
a = [1, 2, 3, 4]
print(id(a))
a[0] = 5
print(id(a))

4528948296
4528948296

In [23]:
a[3]

4

In [1]:
def something(arr):
    arr[0] = 100
    print(arr)
a = [1, 2, 3, 4, 5, 6]
something(a)
print(a)

[100, 2, 3, 4, 5, 6]
[100, 2, 3, 4, 5, 6]

In [5]:
a = [1, 2, 3, 4, 5]
b = a
print(id(a))
print(id(b))

4484565832
4484565832

In [6]:
a = 10
print(id(a))
a = 20
print(id(a))

4451423584
4451423904

In [7]:
a = 10
b = 10
print(id(a))
print(id(b))

4451423584
4451423584

In [2]:
a = 10
b = 10
print(id(a))
print(id(b))

4451423584
4451423584

In [8]:
c = 10
print(id(c))

4451423584

In [9]:
def x(): return 10
def y(): return 10
def z(): return 10

In [10]:
a = x()
b = y()
c = z()

In [11]:
print(id(a))
print(id(b))
print(id(c))

4451423584
4451423584
4451423584

In [12]:
a = 257
b = 257
print(id(a))
print(id(b))

4485572624
4485572336

### Indexing and list slicing

![](images/indexing.png)

In [15]:
a = [1, 2, 3, 4, 5, 6, 7]

In [27]:
a = [6, 6, 6, 6, 6, 5, 3, 2, 1]

In [28]:
sorted(a)[-2]

6

In [29]:
a = "sonu"

In [36]:
a[::2]

[1, 3, 5, 7]

In [39]:
s = "abcba"

In [40]:
s[::-1] == s

True

In [14]:
list(range(-1, -2))

[1, 2, 3, 4]

### Updating the list

- insert

- append

In [41]:
a = [1, 2, 3, 4]
a.insert(2, 5)

In [42]:
a

[1, 2, 5, 3, 4]

In [43]:
a.append(6)

In [44]:
a

[1, 2, 5, 3, 4, 6]

In [45]:
a = ["jatin", 1, 1.5, 5j]

In [46]:
a

['jatin', 1, 1.5, 5j]

### Deleting list elements

- del
- pop
- remove

In [30]:
a = 10

In [31]:
del a

In [32]:
print(a)

NameError: name 'a' is not defined

In [33]:
a = [1, 2, 3, 4, 5]

In [34]:
del a[0]

In [35]:
print(a)

[2, 3, 4, 5]

In [36]:
a

[2, 3, 4, 5]

In [38]:
a.pop()

5

In [39]:
a

[2, 3, 4]

In [40]:
a.append(7)

In [41]:
a.pop()

7

In [51]:
name = ["jatin", "bipin", "shashank", [1, 2]]

In [52]:
name.remove([1, 2])

In [53]:
name

['jatin', 'bipin', 'shashank']

### Sorting and reversing

- sort and sorted

- reverse and reversed

In [47]:
a = [1, 6, 3, 4, 2]

In [48]:
sorted(a)

[1, 2, 3, 4, 6]

In [50]:
a.sort()

In [51]:
print(a)

[1, 2, 3, 4, 6]

### map, strip and split function (just some utilities when you input a list)

### Printing a list using join

In [54]:
",".join(["jatin", "bipin", "shashank"])

'jatin,bipin,shashank'

### Challenges
[Lists](https://www.hackerrank.com/challenges/python-lists)

[Find second maximum number in a list](https://www.hackerrank.com/challenges/find-second-maximum-number-in-a-list/)

### And yeah, you can put a list in a list...
![](images/list_in_list.jpeg)

## 2. Tuples

Tuples are used to hold together multiple objects. Think of them as similar to lists, but without the extensive functionality that the list class gives you. One major feature of tuples is that they are immutable like strings i.e. you cannot modify tuples.


Tuples are defined by specifying items separated by commas within an optional pair of parentheses.


Tuples are usually used in cases where a statement or a user-defined function can safely assume that the collection of values i.e. the tuple of values used **will not change**.

In [52]:
a = (1, 2, 3)

In [53]:
a

(1, 2, 3)

In [54]:
def s(*args):
    print(type(args))

In [55]:
s()

<class 'tuple'>

In [56]:
a = (1, 2, 3, 4)

In [58]:
a[3] = 10

TypeError: 'tuple' object does not support item assignment

In [59]:
a = False

In [60]:
if (a,):
    print("Hello")
else:
    print("World")

Hello

### List to tuple and tuple to list...

In [61]:
a = [1, 2, 3, 4]

In [62]:
b = list(tuple(list(tuple(a))))

### Returning multiple values from functions (The returned thing is a tuple!)

In [63]:
def add_sub(a, b):
    return a+b, a-b

In [67]:
a, b = add_sub(6, 4)

In [68]:
a

10

In [69]:
b

2

In [70]:
a = a^b
b = a^b
a = a^b

In [71]:
a, b

(2, 10)

In [ ]:
a, b = b, a

### But...but I like Lists...

![](images/immutable.jpg)

- **Storage:** In CPython, tuples are stored in a single block of memory, so creating a new tuple involves at worst a single call to allocate memory. Lists are allocated in two blocks: the fixed one with all the Python object information and a variable sized block for the data. 

- **Indexing:** Tuples are faster than lists. Tuples directly reference their elements where as lists have an extra layer of indirection to an external array of pointers.

- **Safety:** It makes your code safer if you “write-protect” data that does not need to be changed. Using a tuple instead of a list is like having an implied assert statement that this data is constant, and that special thought (and a specific function) is required to override that.

In [55]:
a = 10
b = 10
print(id(a))
print(id(b))

4451423584
4451423584

In [56]:
id(a) == id(b)

True

In [64]:
a = [1, 2, 3, 4]
b = [1, 2, 3, 4]

In [65]:
a is b

False

In [68]:
a = "asdfghjklkjhgfdsdfghjkilokjhgfdsaxdghjkl"*290
b = "asdfghjklkjhgfdsdfghjkilokjhgfdsaxdghjkl"*290
print(a is b)
print(a == b)

False
True

In [69]:
# [['', '', ''],
# ['', '', ''],
# ['', '', '']]

In [85]:
row = [''] * 3

In [86]:
board = [row.copy(), row.copy(), row.copy()]

In [87]:
board

[['', '', ''], ['', '', ''], ['', '', '']]

In [88]:
board[0][0] = 'X'

In [89]:
board

[['X', '', ''], ['', '', ''], ['', '', '']]

**is operator**

### Challenge
[Tuples](https://www.hackerrank.com/challenges/python-tuples)

![](images/tuple.jpeg)

## 3. Dictionary

- A dictionary is like an address-book where you can find the address or contact details of a person by knowing only his/her name i.e. we associate keys (name) with values (details). Note that the key must be unique just like you cannot find out the correct information if you have two persons with the exact same name.

- Remember that key-value pairs in a dictionary are not ordered in any manner.

![](images/dict.png)

In [90]:
d = {
    "name": "Jatin",
    "language": "Python",
    "marks": [90, 80, 70],
    "a": {
        "b": 1,
        "c": 2
    },
    (1, 2, 3): "tuple key"
}

In [94]:
d["a"]["b"]

1

### Some important dict methods

- get()
- items()
- keys()
- values()
- clear()

In [96]:
d.get("name")

'Jatin'

In [97]:
d["name"]

'Jatin'

In [98]:
d.keys()

dict_keys(['name', 'language', 'marks', 'a', (1, 2, 3)])

In [99]:
d.values()

dict_values(['Jatin', 'Python', [90, 80, 70], {'b': 1, 'c': 2}, 'tuple key'])

In [101]:
list(d.items())

[('name', 'Jatin'),
 ('language', 'Python'),
 ('marks', [90, 80, 70]),
 ('a', {'b': 1, 'c': 2}),
 ((1, 2, 3), 'tuple key')]

In [104]:
for key, value in d.items():
    print(key, "=>", value)

name => Jatin
language => Python
marks => [90, 80, 70]
a => {'b': 1, 'c': 2}
(1, 2, 3) => tuple key

### And yeah, keys of dict can be any immutable object, so...
<img src="images/dict_tuple.jpg" alt="sets_are_coming" style="width: 300px;"/>

### Challenge

Write a simple Python program which inputs and stores the data about university students as a list of dictioaries.
Your final record structure should look like this:

```
 [
     {
         'roll-no': 1211,
         'name': 'Ravi',
         'branch': 'CSE'
     },
     {
         'roll-no': 202,
         'name': 'Abhishek',
         'branch': 'SE'
     },
     {
         'roll-no': 1202,
         'name': 'Sachin',
         'branch': 'IT'
     }
 ]
 ```

In [6]:
d = {
    [1, 2, 3]: "jatin"
}

TypeError: unhashable type: 'list'

In [ ]:
d = {}
d[input()] = input()
d[input()] = input()

In [5]:
!python --version

Python 3.7.0

In [ ]:
n = int(input())
for _ in range(n):
    roll = input()
    name = input()
    branch = input()
    d = {}
    d[input()] = roll

## 4. Sets

<img src="images/sets.jpg" alt="sets_are_coming" style="width:250px;"/>


Sets are unordered collections of simple objects. These are used when the existence of an object in a collection is more important than the order or how many times it occurs.


Using sets, you can test for membership, whether it is a subset of another set, find the intersection between two sets, and so on.

In [111]:
a = {1, 2, 3, 4}
b = {3, 4, 5, 6}

In [116]:
a

{1, 2, 3, 4}

In [117]:
a.add(4)

In [121]:
l = [3, 2, 1, 4, 1, 6, 6]

In [127]:
list(set(sorted(l)))[-2]

4

In [115]:
a.union(b) - a.intersection(b)

{1, 2, 5, 6}

In [113]:
a.intersection(b)

{3, 4}

In [114]:
a - b

{1, 2}

In [110]:
type(a)

set

In [130]:
a = []
for i in range(10):
    a.append(i**2)

## list comprehension

In [132]:
a = [ i**2 for i in range(10) ]

In [134]:
s = { i**2 for i in range(10) }

In [ ]:
d = { i: i**2 for i in range(10) }

In [135]:
s

{0, 1, 4, 9, 16, 25, 36, 49, 64, 81}

In [133]:
a

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [131]:
a

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

### Ok...let's end this chapter right here but your tryst with data structures has just begun !!!

![](images/ds.jpg)