# <center>Basics</center>

## Let's write our first "Hello world!" program :)

- Run on interactive shell

- Run as python script

[Let's solve our first challenge!](https://www.hackerrank.com/challenges/py-hello-world)

In [1]:
print("Hello World!")

Hello World!

## Putting comments


![](images/comments.jpg)

> Code tells you how, comments should tell you why.

In [6]:
# this is a comment

In [7]:
'''
this is a 
multi line comments
'''

'\nthis is a \nmulti line comments\n'

## Literal constants

- Numbers
    - Integers
    - Floats
- Strings
    - Single quotes
    - Double quotes
    - Triple quotes
    - Escape sequences (\n, \t, \r)
    - Explicit line joining

## Kind of Primitives in Python
### First class citizens

1. Integers
2. String
3. Float
4. Complex

In [14]:
# Integers
a = 5
print(a)
print(type(a))

5
<class 'int'>

In [15]:
# string
a = "jatin"
print(a)
print(type(a))

jatin
<class 'str'>

In [16]:
a = 'jatin'
print(type(a))

<class 'str'>

In [ ]:
a = '''
    this is a multi line
    STRING
'''

In [ ]:
a = """
    again a multi line
    string
    duh !
"""

In [18]:
# float
a = 1.5
print(type(a))

<class 'float'>

In [19]:
# complex
a = 6 + 5j
print(type(a))

<class 'complex'>

## Variables

A type of **identifier**.

Rules for naming identifiers:

- The first character of the identifier must be a letter of the alphabet (uppercase ASCII or lowercase ASCII or Unicode character) or an underscore (_).
    
- The rest of the identifier name can consist of letters (uppercase ASCII or lowercase ASCII or Unicode character), underscores (_) or digits (0-9).
    
- Identifier names are case-sensitive. For example, myname and myName are not the same. Note the lowercase n in the former and the uppercase N in the latter.
    
Examples of valid identifier names are i, name_2_3. 


Examples of invalid identifier names are 2things, this is spaced out, my-name and >a1b2_c3.

In [22]:
_ = 10

In [23]:
print(_)

10

In [24]:
jatin-katyal = 10

SyntaxError: can't assign to operator (<ipython-input-24-c24259ab9d61>, line 1)

## Data Types

Variables can hold values of different types called data types. 

The basic types:
- numbers
- strings

## Type Conversion

In [36]:
a = complex("5+6j")

In [37]:
a

(5+6j)

## Indentation

![](images/indent.jpg)

- Whitespace is important in Python. 

- Actually, whitespace at the beginning of the line is important. This is called indentation. 

- Leading whitespace (spaces and tabs) at the beginning of the logical line is used to determine the indentation level of  the logical line, which in turn is used to determine the grouping of statements.

- This means that statements which go together must have the same indentation. Each such set of statements is called a block.

## Issue with indentation

### Tabs vs spaces

![](images/tabs_vs_spaces.jpg)

### The solution...

![](images/usetabs.jpeg)

## Something more about print function...

- format method

- **end** and **sep**

In [41]:
from __future__ import print_function

In [42]:
print ("something")

something

In [45]:
print("Hello", end = ";")
print("World")

Hello;World

In [48]:
print("jatin", "katyal", "loves", "python")

jatin katyal loves python

In [49]:
print("jatin", "katyal", "hates", "JS", sep = "," )

jatin,katyal,hates,JS

## Taking user input

- input() function

- concept of typecasting

In [ ]:
1 2
1 2 3 4

In [55]:
a = int(input())

Enter the number: 5

In [53]:
type(a)

int

In [54]:
print(a*a)

25

In [57]:
a = 1

In [58]:
a = "jatin"

In [65]:
a = input()

jatin

In [63]:
del input

In [64]:
type(input)

method